@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";
@use "@/styles/components/PinTabs/PinTabsGrids";

.PinTabs {
    position: relative;
    background: var(--color--light);
    --titlesW: 300px;
    --headerH: 8rem;

    &__wrapper {
        padding: var(--container-pad-x);
        color: var(--color-text-dark);
    }

    &__tab {
        position: sticky;
        top: var(--headerH);
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid black;
        @for $i from 0 through 5 {
            &:nth-of-type(#{$i}) {
                .PinTabs__tab__title {
                    top: calc(var(--headerH) * #{$i});
                }
            }
        }

        &__title {
            display: flex;
            // align-items: flex-end;
            align-items: center;
            height: var(--headerH);
            font-size: var(--text-heading1-font-size);
            line-height: var(--text-heading1-line-height);
            font-weight: var(--text-heading1-font-weight);
            width: var(--titlesW);
            background: var(--color--light);

            position: sticky;
            em {
                color: var(--color-secondary);
                font-weight: 700;
                padding-right: 1rem;
                font-size: 0.5em;
                line-height: 1.7em;
            }
        }
        &__content {
            flex-basis: calc(100% - var(--titlesW));
            line-height: var(--text-line-height);
            color: var(--color-text-dark);
            &__figure {
                grid-row: 1/4;
                grid-column: 1/2;
            }
        }
    }
}

@include mq.responsiveTo("xl") {
    .PinTabs__tab__content {
        &__highlight {
            grid-row: 1/4;
            grid-column: 3/4;
        }
        &__description {
            grid-row: 1/4;
            grid-column: 2/3;
        }
    }
}
@include mq.responsiveFrom("xl") {
    .PinTabs__tab__content {
        &__highlight {
            grid-row: 1/4;
            grid-column: 3/4;
        }
        &__description {
            grid-row: 1/4;
            grid-column: 2/3;
        }
    }
}
