@use "@/styles/utils/shortcuts";

.gr3x3 {
    display: grid;
    --pad: 2rem;
    grid-template-columns: repeat(3, calc((100% - (2 * var(--pad))) / 3));
    grid-template-rows: repeat(3, calc((100% - (2 * var(--pad))) / 3));
    justify-content: center;
    height: 100%;
    overflow: hidden;

    .gr3x3__item {
        position: relative;
        padding: var(--pad);
        &:not([class*="moire"]) {
            background-color: white;
        }
        &.gr--1-lg {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
        }
        &.gr--2-md {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }
}
