@use "@/styles/utils/shortcuts";

.gr3x3 {
    display: grid;
    --pad: 2rem;
    grid-template-columns: repeat(3, calc((100% - (2 * var(--pad))) / 3));
    grid-template-rows: repeat(3, calc((100% - (2 * var(--pad))) / 3));
    justify-content: center;
    min-height: calc(100vh - var(--headerH));

    .gr3x3__item {
        position: relative;
        padding: calc(var(--pad) * 1.5) var(--pad);
        &:not(.transparent) {
            background-color: white;
        }
    }
}
