@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

.PinTabs {
    position: relative;
    background: var(--color--light);

    &__wrapper {
        padding: var(--container-pad-x);
        color: var(--color-text-dark);
    }

    &__tab {
        position: sticky;
        top: var(--headerH);
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid black;

        @for $i from 0 through 5 {
            &:nth-of-type(#{$i}) {
                .PinTabs__tab__title {
                    top: calc(var(--headerH) * #{$i});
                }
            }
        }

        &__title {
            display: flex;
            align-items: center;
            height: var(--headerH);
            width: var(--titlesW);
            background: var(--color--light);
            em {
                color: var(--color-secondary);
                font-weight: 700;
                padding-right: 1rem;
                font-size: 0.5em;
                line-height: 1.7em;
            }
        }
        &__content {
            flex-basis: calc(100% - var(--titlesW));
            display: flex;
            flex-direction: row;
            gap: var(--content-gap);
            justify-content: space-between;
            line-height: var(--text-line-height);
            color: var(--color-text-dark);
            &__figure {
                &:not(.transparent) {
                    background-color: white;
                }
            }
            &__text {
                background-color: white;
                display: flex;
                justify-content: space-between;
                &__description {
                    flex-basis: 50%;
                }
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .PinTabs {
        --headerH: 4.5rem;
        &__tab {
            --titlesW: 100%;
            flex-direction: column;
            &__content {
                min-height: 30vh;
                &__figure {
                    flex-basis: 50%;
                }
                &__text {
                    flex-basis: 50%;
                    &__description {
                        display: none;
                    }
                }
            }
        }
    }
}
@include mq.responsiveFrom("md") {
    .PinTabs {
        --headerH: 8rem;
        &__tab {
            flex-direction: row;
            --titlesW: 200px;
            &__title {
                position: sticky;
            }
            &__content {
                flex-direction: row;
                min-height: 60vh;
                &__figure {
                    flex-basis: 30%;
                }
                &__text {
                    padding: var(--content-gap) 0;
                    flex-basis: 70%;
                }
            }
        }
    }
}
@include mq.responsiveFrom("xl") {
    .PinTabs {
        &__tab {
            --titlesW: 300px;
        }
    }
}

@include mq.responsiveTo("xxl") {
    .PinTabs {
        --content-gap: 2rem;
        &__tab {
            &__content {
                &__text {
                    flex-direction: column-reverse;
                    justify-content: center;
                }
            }
        }
    }
}
@include mq.responsiveFrom("xxl") {
    .PinTabs {
        --content-gap: 4rem;
        &__tab {
            &__content {
                &__text {
                    flex-direction: row;
                    gap: var(--content-gap);
                    &__highlight {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}
