@use "@/styles/utils/functions" as f;
@use "@/styles/utils/mq" as mq;

.articlesSlider {
    &__wrapper {
        position: relative;
        overflow-x: hidden;
    }
    &__gallery {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        padding: 0 2rem;
        // flex-wrap: wrap;
        align-items: center;
        // overflow-x: scroll;
        padding: 0 var(--container-pad-x);
    }

    &__box {
        position: relative;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 1rem 0 rgba(0, 0, 0, 0.6);

        .Card {
            width: 100%;
            transition: all 0.25s ease-in-out;
        }
        &:hover {
            .Card {
                transform: scale(1.025);
            }
        }

        @for $i from 1 through 8 {
            &:nth-of-type(#{$i}) {
                // transform: rotate(1deg * f.random-float(-3, 3));
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .articlesSlider {
        &__box {
            min-width: 100%;
        }
    }
}

@include mq.responsiveFrom("md") {
    .articlesSlider {
        &__box {
            min-width: 30rem;
        }
    }
}
