@use "@/styles/utils/functions" as f;
@use "@/styles/utils/mq" as mq;

.articlesSlider {
    &__wrapper {
        position: relative;
        overflow-x: hidden;
    }
    &__gallery {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        align-items: center;
    }

    &__box {
        position: relative;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 1rem 0 rgba(0, 0, 0, 0.6);

        .Card {
            width: 100%;
            transition: all 0.25s ease-in-out;
        }
        &:hover {
            .Card {
                transform: scale(1.025);
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .articlesSlider {
        &__gallery {
            padding: 0rem var(--container-pad-x) 3rem;
        }
        &__box {
            min-width: 100%;
        }
    }
}

@include mq.responsiveFrom("md") {
    .articlesSlider {
        &__gallery {
            padding: 2rem var(--container-pad-x) 4rem;
        }
        &__box {
            min-width: 30rem;
        }
    }
}

@include mq.responsiveFrom("xxxl") {
    .articlesSlider {
        &__gallery {
            padding: 2rem var(--container-pad-x) 8rem;
        }
    }
}
