@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

.Card {
    background: var(--color--light);
    transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
    border-radius: var(--cards-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        [class*="btn"] {
            border-radius: 0;
            border-bottom-left-radius: var(--cta-border-radius);
            border-top-right-radius: var(--cards-radius);
        }
    }
    &__image {
        width: 100%;
        height: 150px;
        border-top-right-radius: var(--cards-radius);
        border-top-left-radius: var(--cards-radius);
        overflow: hidden;
        background: black;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    &__content {
        padding: var(--padding-cards);
        line-height: var(--text-line-height);
        color: var(--color-text-dark);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        &__title {
            font-size: var(--text-heading2-font-size);
            line-height: var(--text-heading2-line-height);
            font-weight: var(--text-heading2-font-weight);
        }
    }
}
