@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

@keyframes imageAnimation {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Card {
    --cubic-bezier: cubic-bezier(0.5, 0, 0.5, 1);
    background: var(--color--light);
    transition: all 0.6s var(--cubic-bezier);
    border-radius: var(--cards-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    box-shadow: 0px 0px 1rem 0 rgba(0, 0, 0, 0.6);

    &.in-view {
        .Card__image {
            img {
                animation: imageAnimation 0.8s var(--cubic-bezier);
                animation-fill-mode: forwards;
            }
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        [class*="btn"] {
            border-radius: 0;
            border-bottom-left-radius: var(--cta-border-radius);
            border-top-right-radius: var(--cards-radius);
        }
    }
    &__image {
        width: 100%;
        height: 150px;
        border-top-right-radius: var(--cards-radius);
        border-top-left-radius: var(--cards-radius);
        overflow: hidden;
        background: black;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            opacity: 0;
            transform: scale(1.2);
        }
    }
    &__content {
        padding: var(--padding-cards);
        line-height: var(--text-line-height);
        color: var(--color-text-dark);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        &__title {
            font-size: var(--text-heading2-font-size);
            line-height: var(--text-heading2-line-height);
            font-weight: var(--text-heading2-font-weight);
        }
    }
}
