// @use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

.Contact {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &::before {
        @extend %absoluteCenteredSized;
        width: 300vw;
        content: "";
        background: radial-gradient(at 50% 100%, rgb(96, 94, 83) 0%, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 100%);
    }

    &__content {
        @extend %absoluteCentered;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2vh;
        height: 90vh;
        width: 80vw;
        &__title {
            font-size: 20vw;
            font-weight: 900;
            line-height: 1.2;
            color: var(--color-text-dark);
            text-transform: uppercase;
            text-align: center;
            line-height: 1em;
        }
        &__actions {
            display: flex;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.15);
            background-color: white;
            width: 100%;
            flex-direction: column;
            padding: 1rem 2rem;
            border-radius: var(--cards-radius);
            a:hover {
                padding-left: 0;
                transform: scale(1.1);
            }
        }
    }
    &__canvas {
        @extend %absoluteCentered;
        width: 100%;
        pointer-events: none;
        height: 90vh;
    }
}

@include mq.responsiveFrom("md") {
    .Contact {
        &:before {
            width: 200vw;
        }
        &__content {
            height: 80vh;
            &__title {
                font-size: 13vw;
            }
            &__actions {
                width: 80vw;
                padding: 4rem 3rem;
                flex-direction: row;
            }
        }
        &__canvas {
            height: 100vh;
        }
    }
}

@include mq.responsiveFrom("lg") {
    .Contact {
        &__content {
            &__actions {
                width: 70%;
            }
        }
    }
}
