// @use "@/styles/utils/typography" as typo;
// @use "@/styles/utils/mq" as mq;
// @use "@/styles/utils/shortcuts";

.Contact {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    &__canvas {
        width: 100%;
        height: 100vh;
    }
}
