@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/typography" as typo;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 100px;
        svg {
            object-fit: contain;
        }
    }
    &__title {
        font-size: 0.8rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
        color: var(--color-secondary);
    }
}

@include mq.responsiveTo("md") {
    .header {
        padding: 2rem;
    }
}
@include mq.responsiveFrom("md") {
    .header {
        padding: 3rem;
    }
}
