@use "@/styles/utils/shortcuts";

.moire {
    &__text {
        display: flex;
        flex-direction: column;
        font-size: 4.5rem;
        color: #000000;
        text-align: center;
        background-color: transparent;
        span {
            transform: scaleY(0.1);
            display: inline-block;
            font-weight: 900;
            line-height: 0.1;
            text-transform: uppercase;
        }
        &--bright {
            color: white;
        }
    }
    &__diag-r-lines {
        position: relative;
        --square-size: 2px;
        --line-width: 6px;
        --color-bg-lines: black;
        --angle: 4deg;
        @extend %bg-lines;
        background-color: transparent;
    }
    &__diag-l-lines {
        position: relative;
        --square-size: 2px;
        --line-width: 6px;
        --color-bg-lines: white;
        --angle: 5deg;
        @extend %bg-lines;
        background-color: transparent;
    }
}
