@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

// TODO create variables for font size and change them

.navSlide {
    position: relative;
    left: 0; /* used in animation on --open*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color--text);
    height: 100vh;
    text-align: left;
    justify-content: flex-end;
    perspective: 80rem;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
    --max-width: 45rem;
    max-width: var(--max-width);
    border: 0px solid transparent;
    &:nth-child(odd) {
        background-color: hsla(var(--color-dark), 0.5);
    }
    &:has(.NavTrigger--open) {
        // left: calc(var(--max-width) * -1);
        .navSlide__content__card {
            transform: rotateY(-10deg);
        }
    }
    &__content {
        pointer-events: auto;
        transform-style: preserve-3d;
        &__tips {
            @extend %absoluteCentered;
            z-index: 1;
            width: 100%;
            height: 100%;
            .Card {
                @extend %absoluteCentered;
                width: calc(100%);
                opacity: 0;
                &--active {
                    transform: translate(50%, -50%);
                    opacity: 1;
                }
            }
        }
        &__card {
            position: relative;
            z-index: 2;
            padding: calc(var(--padding-cards) * 1.6);
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(10px);
            // border: 1px solid var(--color-secondary);
            border-radius: var(--cards-radius);
            transition: all 0.3s ease-in-out;
            transform-origin: left center;
            &__title {
                overflow: hidden;
                font-size: var(--text-heading1-font-size);
                line-height: var(--text-heading1-line-height);
                font-weight: var(--text-heading1-font-weight);
                h2 {
                    position: relative;
                    // @include typo.multiline-gradient-text(1.1);
                    transition: all 0.3s ease;
                }
            }
            &__description {
                position: relative;
                letter-spacing: 1px;
                color: var(--color--text);
                line-height: var(--text-line-height);
                strong {
                    color: var(--color-secondary);
                    font-weight: 600;
                }
                &::before {
                    content: "";
                    border-left: 1px solid var(--color-secondary);
                    position: absolute;
                    top: 0;
                    left: -2em;
                    height: 100%;
                }
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .navSlide {
        padding: 0rem var(--container-pad-x) 3rem var(--container-pad-x);
        &:has(.NavTrigger--open) {
            left: -80%;
        }
        &__content__card__description {
            margin: 2rem 0 1rem 6vw;
        }
    }
}

@include mq.responsiveFrom("md") {
    .navSlide {
        padding: 0 6vw 20vh 6vw;
        &:has(.NavTrigger--open) {
            left: -30rem;
        }
        &__content__card__description {
            margin: 3rem 0 1rem 6vw;
        }
    }
}
@include mq.responsiveFrom("lg") {
    .navSlide {
        &:has(.NavTrigger--open) {
            left: -3rem;
        }
    }
}
