@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

// TODO create variables for font size and change them

.navSlide {
    position: relative;
    left: 0; /* used in animation on --open*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color--text);
    height: 100vh;
    text-align: left;
    justify-content: flex-end;
    perspective: 80rem;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
    --max-width: 48rem;
    max-width: var(--max-width);
    &:nth-child(odd) {
        background-color: hsla(var(--color-dark), 0.5);
    }
    &--open {
        left: calc(var(--max-width) * -1);
        .navSlide__content__card {
            transform: rotateY(-10deg);
        }
    }
    &__content {
        pointer-events: auto;
        perspective: 150rem;
        &__tips {
            @extend %absoluteCentered;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &__card {
            position: relative;
            z-index: 2;
            padding: var(--padding-cards);
            background-color: var(--color-dark);
            border-radius: var(--cards-radius);
            transition: all 0.3s ease-in-out;
            transform-origin: left center;
            &__title {
                overflow: hidden;
                h2 {
                    position: relative;
                    font-weight: 400;
                    // @include typo.multiline-gradient-text(1.1);
                    transition: all 0.3s ease;
                    font-size: var(--text-heading1-font-size);
                    line-height: var(--text-heading1-line-height);
                }
            }
            &__description {
                position: relative;
                margin: 3rem 0 1rem 6vw;
                letter-spacing: 1px;
                color: var(--color--text);
                line-height: var(--text-line-height);
                strong {
                    color: var(--color-secondary);
                    font-weight: 600;
                }
                &::before {
                    content: "";
                    border-left: 1px solid var(--color-secondary);
                    position: absolute;
                    top: 0;
                    left: -2em;
                    height: 100%;
                }
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .navSlide {
        padding: 0rem 2rem 3rem 2rem;
        &--open {
            left: -80%;
        }
    }
}

@include mq.responsiveFrom("md") {
    .navSlide {
        padding: 0 6vw 20vh 6vw;
        &--open {
            left: -20rem;
        }
    }
}
