@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

// TODO create variables for font size and change them

.navSlide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color--text);
    height: 100vh;
    text-align: left;
    justify-content: flex-end;
    perspective: 80rem;
    pointer-events: none;
    &:nth-child(odd) {
        background-color: hsla(var(--color-dark), 0.5);
    }
    &__content {
        pointer-events: auto;
        &__tips {
            @extend %absoluteCentered;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &__card {
            position: relative;
            z-index: 2;
            padding: var(--padding-cards);
            background-color: var(--color-dark);
            border-radius: var(--cards-radius);
            &__title {
                overflow: hidden;
                h2 {
                    position: relative;
                    font-weight: 400;
                    // @include typo.multiline-gradient-text(1.1);
                    transition: all 0.3s ease-in-out;
                }
            }
            &__description {
                position: relative;
                line-height: 1.5em;
                margin: 3rem 0 1rem 6vw;
                letter-spacing: 1px;
                color: var(--color--text);
                strong {
                    color: var(--color-secondary);
                    font-weight: 600;
                }
                &::before {
                    content: "";
                    border-left: 1px solid var(--color-secondary);
                    position: absolute;
                    top: 0;
                    left: -2em;
                    height: 100%;
                }
            }
        }
    }
}

@include mq.responsiveTo("md") {
    .navSlide {
        padding: 0rem 2rem 3rem 2rem;
        &__content__card {
            &__title {
                h2 {
                    font-size: 2.3rem;
                }
            }
            &_description {
                font-size: 1rem;
            }
        }
    }
}

@include mq.responsiveFrom("md") {
    .navSlide {
        padding: 0 6vw 20vh 6vw;
        max-width: 52rem;
        &__content__card {
            &__title {
                h2 {
                    font-size: 3.2rem;
                }
            }
            &__description {
                font-size: 1.1rem;
            }
        }
    }
}
