@use "@/styles/utils/mq" as mq;

.PinTabs {
    padding: var(--container-pad-x);
    background: var(--color--light);
    --titlesW: 300px;

    &__wrapper {
        color: var(--color-text-dark);
    }

    &__tab {
        position: sticky;
        top: var(--headerH);
        display: flex;
        width: 100%;
        justify-content: space-between;

        @for $i from 0 through 5 {
            &:nth-of-type(#{$i}) {
                .PinTabs__tab__title {
                    top: calc(var(--headerH) * #{$i});
                }
            }
        }

        &__title {
            display: flex;
            align-items: center;
            height: var(--headerH);
            font-size: var(--text-heading1-font-size);
            line-height: var(--text-heading1-line-height);
            font-weight: var(--text-heading1-font-weight);
            width: var(--titlesW);
            background: var(--color--light);

            position: sticky;
        }
        &__content {
            min-height: calc(100vh - 2 * var(--container-pad-x));
            flex-basis: calc(100% - var(--titlesW));
            border: 2px dotted grey;
            background: var(--color--light);
        }
    }
}

@include mq.responsiveTo("xxxl") {
    .PinTabs {
        --headerH: 6.5rem;
    }
}

@include mq.responsiveFrom("xxxl") {
    .PinTabs {
        --headerH: 8rem;
    }
}
