@use "@/styles/utils/functions" as f;
@use "@/styles/utils/mq" as mq;

.PinTabs {
    &__wrapper {
    }

    &__tab {
        position: sticky;
        background: var(--color--light);
        color: var(--color-text-dark);
        border: 1px solid var(--color-bg);

        @for $i from 0 through 5 {
            &:nth-of-type(#{$i}) {
                top: calc(var(--headerH) * (#{$i - 1}));
            }
        }
        &__title {
            display: flex;
            align-items: center;
            height: var(--headerH);
            font-size: var(--text-heading1-font-size);
            line-height: var(--text-heading1-line-height);
            font-weight: var(--text-heading1-font-weight);
        }
        &__content {
            height: 300px;
        }
    }
}

@include mq.responsiveTo("md") {
    .PinTabs {
        --headerH: 7rem;
        &__tab {
            padding: 0 var(--container-pad-x) calc(2 * var(--padding-cards)) 10rem;
        }
    }
}

@include mq.responsiveFrom("md") {
    .PinTabs {
        --headerH: 9rem;
        &__tab {
            padding: 0 var(--container-pad-x) calc(2 * var(--padding-cards)) 12rem;
        }
    }
}
