@use "@/styles/utils/functions" as f;
@use "@/styles/utils/mq" as mq;

.PinTabs {
    border: 3px solid green;
    padding: 9rem var(--container-pad-x);
    background: var(--color--light);

    &__wrapper {
        color: var(--color-text-dark);
        border: 3px dotted green;
    }

    &__tab {
        position: sticky;
        top: var(--headerH);
        border: 3px dotted blue;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @for $i from 0 through 5 {
            &:nth-of-type(#{$i}) {
                .PinTabs__tab__title {
                    top: calc(var(--headerH) * #{$i});
                }
            }
        }

        &__title {
            display: flex;
            align-items: center;
            height: var(--headerH);
            font-size: var(--text-heading1-font-size);
            line-height: var(--text-heading1-line-height);
            font-weight: var(--text-heading1-font-weight);
            border: 1px red solid;
            width: var(--titlesW);
            background: var(--color--light);

            position: sticky;
        }
        &__content {
            min-height: 90vh;
            border: 1px olive solid;
            flex-basis: calc(100% - var(--titlesW));
        }
    }
}

@include mq.responsiveTo("xl") {
    .PinTabs {
        --headerH: 4rem;
        --titlesW: 300px;
    }
}

@include mq.responsiveFrom("xl") {
    .PinTabs {
        --headerH: 7rem;
        --titlesW: 300px;
    }
}
