@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;

.slidingTitle {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: rgba($color: #ffffff, $alpha: 1);
    &__title {
        position: relative;
        top: 0;
        left: 0;
        font-weight: 900;
        line-height: 1.2;
        white-space: nowrap;
        text-transform: uppercase;
        color: var(--color-dark);

        // -webkit-text-stroke: 2px white;
        // -webkit-text-fill-color: transparent;
    }
}

@include mq.responsiveTo("md") {
    .slidingTitle {
        padding: 2rem 0 1rem 0;
        &__title {
            font-size: 27vw;
        }
    }
}

@include mq.responsiveFrom("md") {
    .slidingTitle {
        padding: 2rem 0 2rem 0;
        &__title {
            font-size: 15.1vw;
        }
    }
}
