@use "@/styles/utils/shortcuts";

.tip {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    display: none;
    &::after,
    &::before {
        @extend %absoluteCenteredSized;
        content: "";
        border-radius: 50%;
    }
    &::after {
        outline: 3px solid white;
        animation: pulse 1s ease-in-out 0s infinite;
    }
    &--visible {
        display: block;
    }
    &--active {
        &::after,
        &::before {
            border-color: var(--color-secondary);
            animation: none;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
