@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

.Tipcard {
    @extend %absoluteCentered;
    width: calc(100% - var(--padding-cards));
    height: calc(100% - var(--padding-cards));
    background: var(--color--light);
    padding: calc(var(--padding-cards) / 2);
    padding-left: calc(var(--padding-cards));
    transition: all 0.5s ease-in-out;
    border-radius: var(--cards-radius);
    opacity: 0;
    &--active {
        transform: translate(50%, -50%);
        opacity: 1;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--cta-pad-horiz);
    }
}
