@use "@/styles/utils/typography" as typo;
@use "@/styles/utils/mq" as mq;
@use "@/styles/utils/shortcuts";

.Tipcard {
    @extend %absoluteCentered;
    width: calc(90% - var(--padding-cards));
    height: calc(90% - var(--padding-cards));
    background: var(--color--light);
    padding: var(--padding-cards);
    padding-left: calc(2 * var(--padding-cards));
    transition: all 0.5s ease-in-out;
    border-radius: var(--cards-radius);
    &--active {
        transform: translate(50%, -50%);
    }
}
