@use "font";
@use "./utils/reset";
@use "@/styles/utils/mq" as mq;
@use "@/styles/basics/buttons";

* {
    box-sizing: border-box;
}

:root {
    --color-bg: rgba(10, 10, 10, 1);
    --color-dark: rgb(21, 21, 21);
    --color-bg-lines: #201e1e;
    --color-primary: #000000;
    --color-secondary: rgb(197, 23, 23);
    --color--text: #b8b8b8;
    --color--light: #ffffff;
    --base-font-family: "figtree", sans-serif;
    --cards-radius: 10px;

    --text-line-height: 1.6em;

    --text-heading1-font-weight: 400;
    --text-heading2-font-weight: 400;
}

@include mq.responsiveTo("md") {
    :root {
        --padding-cards: 1.5rem;

        --text-heading1-font-size: 1.8rem;
        --text-heading1-line-height: 2.2rem;

        --text-heading2-font-size: 1.6rem;
        --text-heading2-line-height: 2rem;

        --text-base-font-size: 16px;
        --container-pad-x: 1rem;
    }
}
@include mq.responsiveFrom("md") {
    :root {
        --padding-cards: 2.5rem;

        --text-heading1-font-size: 2.5rem;
        --text-heading1-line-height: 2.8rem;

        --text-heading2-font-size: 1.8rem;
        --text-heading2-line-height: 2.2rem;

        --text-base-font-size: 16px;
        --container-pad-x: 3rem;
    }
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--text-base-font-size);
}

body {
    background: var(--color-bg);
    font-family: var(--base-font-family);
    color: var(--color--text);
    font-weight: 400;
    --square-size: 40px;
    --line-width: 1px;
    background: var(--color-bg);

    > * {
        z-index: 2;
    }
    // &:before {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     z-index: 1;
    //     pointer-events: none;
    //     content: "";
    //     --square-size: 60px;
    //     --line-width: 1px;
    //     background: repeating-linear-gradient(
    //             90deg,
    //             transparent 0,
    //             transparent var(--square-size),
    //             var(--color-bg-lines) var(--square-size),
    //             var(--color-bg-lines) calc(var(--square-size) + var(--line-width))
    //         ),
    //         repeating-linear-gradient(
    //             0deg,
    //             transparent 0,
    //             transparent var(--square-size),
    //             var(--color-bg-lines) var(--square-size),
    //             var(--color-bg-lines) calc(var(--square-size) + var(--line-width))
    //         );
    //     z-index: 1;
    // }
}

.word {
    overflow: hidden;
}
.letter {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}
