:root {
    --cta-border-radius: var(--button-radius, 4px);
    --cta-bg-color: trasparent;
    --cta-border-color: trasparent;
    --cta-text-color: var(--color--primary);
    --cta-text-align: center;
    --cta-pad-vert: 0.6rem;
    --cta-pad-horiz: 1rem;
}

%base-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--cta-pad-vert) var(--cta-pad-horiz);
    appearance: none;
    border: 1px solid var(--cta-border-color);
    font-size: 1rem;
    min-height: 2.5rem;
    text-decoration: none;
    text-align: var(--cta-text-align);
    font-weight: 700;
    cursor: pointer;
    // text-transform: uppercase;
    color: var(--cta-text-color);
    border-radius: var(--cta-border-radius);
    background-color: var(--cta-bg-color);
    transition: all 0.2s ease;
    &:hover {
        color: var(--cta-bg-color);
        background-color: var(--cta-text-color);
        border: 1px solid var(--cta-border-color);
    }
    &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
    }

    &.--wide {
        width: 100%;
    }

    &.--large {
        padding: 0 1rem;
        min-height: 3.2rem;
        font-size: 1.4rem;
    }

    &.--has-icon {
        gap: 1rem;
        .icon {
            --icon-size: 1.4rem;
        }
    }

    &:disabled,
    &.--disabled {
        --cta-bg-color: grey;
        --cta-border-color: transparent;
        --cta-text-color: lightgrey;
        opacity: 0.6;
        cursor: default;
        pointer-events: none;
    }

    &.--hidden {
        display: none;
    }
}

.btn {
    &--primary {
        @extend %base-btn;
        --cta-border-color: var(--color-primary);
        --cta-bg-color: var(--color-primary);
        --cta-text-color: var(--color--light);
        --cta-border-color: transparent;
    }
    &--secondary {
        @extend %base-btn;
        --cta-border-color: var(--color-secondary);
        --cta-bg-color: var(--color-secondary);
        --cta-text-color: var(--color--light);
        --cta-border-color: transparent;
    }
    &--primary-stroked {
        @extend %base-btn;
        --cta-border-color: var(--color-primary);
        --cta-bg-color: transparent;
        --cta-text-color: var(--color--primary);
    }
    &--secondary-stroked {
        @extend %base-btn;
        --cta-border-color: var(--color-secondary);
        --cta-bg-color: transparent;
        --cta-text-color: var(--color--secondary);
    }
    &--text {
        @extend %base-btn;
        --cta-text-color: var(--color-secondary);
        padding-left: 0;
        &:hover {
            --cta-bg-color: var(--color-primary);
            background-color: transparent;
            border: 0px solid transparent;
            padding-left: var(--cta-pad-horiz);
        }
    }
}
