
* {
    box-sizing: border-box;
  }

  :root {
    --color-bg: rgba(10, 10, 10, 1);
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-dark: #101010;
    --base-font-family: 'Satoshi-Variable', sans-serif;
    --text-color: #9b9b9b;--bg-lines-color: #1a1a1a;
  }


  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--base-font-family);
    color: var(--text-color);
  }

  body {
    background: var(--color-bg);
  }
  body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    content: "";
    background: repeating-linear-gradient(90deg, transparent 0, transparent 100px, var(--bg-lines-color) 100px, var(--bg-lines-color) 101px),
      repeating-linear-gradient(0deg, transparent 0, transparent 100px, var(--bg-lines-color) 100px, var(--bg-lines-color) 101px);
    z-index: 1;
  }
  body > * {
    z-index: 2;
  }

  