%absoluteCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%absoluteCenteredSized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

%bg-squares {
  &:before {
    @extend %absoluteCenteredSized;
    z-index: 1;
    pointer-events: none;
    content: "";
    --gap: 60px !default;
    --size: 1px !default;
    --color: black !default;
    background: repeating-linear-gradient(
        90deg,
        transparent 0,
        transparent var(--gap),
        var(--color) var(--gap),
        var(--color) calc(var(--gap) + var(--size))
      ),
      repeating-linear-gradient(
        0deg,
        transparent 0,
        transparent var(--gap),
        var(--color) var(--gap),
        var(--color) calc(var(--gap) + var(--size))
      );
  }
}

%bg-lines {
  &:before {
    @extend %absoluteCenteredSized;
    z-index: 1;
    pointer-events: none;
    content: "";
    --gap: 60px !default;
    --size: 1px !default;
    --color: black !default;
    --angle: 4deg !default;
    background: repeating-linear-gradient(
      var(--angle),
      transparent 0,
      transparent var(--gap),
      var(--color) var(--gap),
      var(--color) calc(var(--gap) + var(--size))
    );
  }
}

%bg-dots {
  &:before {
    @extend %absoluteCenteredSized;
    z-index: 1;
    pointer-events: none;
    content: "";
    --size: 2px !default;
    --color: black !default;
    --gap: 8px !default;
    background-image: radial-gradient(circle, var(--color) var(--size), transparent 0);
    background-size: var(--gap) var(--gap);
    background-repeat: space;
  }
}
