@mixin masking-text($bg: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.8) 100%)) {
    background-image: $bg;
    background-position: 0 / 0;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin multiline-gradient-text($lineHeigth: 1.2em) {
    // pay attention: padding will crash the logic, wrap your text if you need it
    line-height: #{$lineHeigth}em;
    @include masking-text(
        repeating-linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgb(142, 142, 142) #{$lineHeigth}em)
    );
}
